@import url(Produto.css);
@import url(estilo.css);

.ProdutosNoCarrinho{
	width:100%;
	height:auto;
	background-color:gray;
	margin-top:50px;
}

.ProdutosNoCarrinho p{
	color:black;
	margin-left:30%;
	padding:5px 5px;
}
.btn.btn-danger{
	float:right!important;
}