body:{
	margin:0;
	background-color:black;
}
.body{
	background-color:black;
}
.barraDeNavegar{
	margin:8px 0px
}

#topoDois{
	background-color:dimgrey;
	
}
.logotipoDoSite{
	width:156px;
	height:40px;
}
.menu{
	position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.menuDois{
	margin-left:298px;
}

.itensMenu{
	float:left;
	padding-left:20px;
}

.nomesDoForm{
	color:white;
	float:left;
	margin:5px;
}
.formulario{
	margin:20px 0px 30px 10px;
    float: left;
}
